body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #E3E6EB;
}

.bookmark-wapper{
    width: 300px;
    background-color: #fff;
}

.header{
    background-color: #fff;
}

.dark-mode{
    background-color: rgba(145, 97, 97, 0.73);
    color: black;
}


/* MODAL STYLE */
.hidden{
    display: none;
}

.modal-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: #fff;
}

.modal-header{
    width: 400px;
    height: 30px;
    background-color: #fff;
    padding: 30px;
}.modal-header a{
    position: absolute;
    right: 10px;
}